In [1]:
import pandas as pd

df_companies = pd.read_csv('companies.csv')
print(df_companies)

                       Company_name  \
0                               TCS
1                         Accenture
2                         Cognizant
3                             Wipro
4                         Capgemini
...                             ...
9995        Techila Global Services
9996            RxLogix Corporation
9997  Avians Innovations Technology
9998                   ACPL Systems
9999                      Beroe Inc

                                            Description  Ratings  \
0     IT Services & Consulting | 1 Lakh+ Employees |...      3.8
1     IT Services & Consulting | 1 Lakh+ Employees |...      4.0
2     IT Services & Consulting | 1 Lakh+ Employees |...      3.9
3     IT Services & Consulting | 1 Lakh+ Employees |...      3.8
4     IT Services & Consulting | 1 Lakh+ Employees |...      3.9
...                                                 ...      ...
9995  IT Services & Consulting | 501-1k Employees | ...      3.7
9996  Pharma | 201-500 Employees | 14 years old | Pr...      2.6
9997  Building Material | 51-200 Employees | 17 year...      3.7
9998  Law Enforcement & Security | 51-200 Employees ...      3.3
9999  Management Consulting | 201-500 Employees | 19...      4.5

                                       Highly_rated_for  \
0                       Job Security, Work Life Balance
1     Company Culture, Skill Development / Learning,...
2                          Skill Development / Learning
3                                          Job Security
4     Job Security, Work Life Balance, Skill Develop...
...                                                 ...
9995  Work Life Balance, Salary & Benefits, Company ...
9996  Work Life Balance, Work Satisfaction, Company ...
9997  Promotions / Appraisal, Work Satisfaction, Sal...
9998  Promotions / Appraisal, Salary & Benefits, Wor...
9999   Work Life Balance, Job Security, Company Culture

                           Critically_rated_for Total_reviews Avg_salary  \
0     Promotions / Appraisal, Salary & Benefits         73.1k     856.9k
1                                           NaN         46.4k     584.6k
2                        Promotions / Appraisal         41.7k     561.5k
3     Promotions / Appraisal, Salary & Benefits         39.2k     427.4k
4     Promotions / Appraisal, Salary & Benefits           34k     414.4k
...                                         ...           ...        ...
9995                                        NaN            72        454
9996                                        NaN            72        799
9997                                        NaN            72        489
9998                                        NaN            72        520
9999                                        NaN            72        585

     Interviews_taken Total_jobs_available Total_benefits
0                6.1k                  847          11.5k
1                4.3k                 9.9k           7.1k
2                3.6k                  460           5.8k
3                3.7k                  405             5k
4                2.8k                  719             4k
...               ...                  ...            ...
9995                2                   26             21
9996               15                    9             13
9997                3                   11              8
9998                4                    1             10
9999                7                    5             14

[10000 rows x 10 columns]

In [11]:
df_companies.sort_values(by='Ratings', ascending=False).head()

,Company_name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_reviews,Avg_salary,Interviews_taken,Total_jobs_available,Total_benefits
8749,Teqtous Inc,IT Services & Consulting | 11-50 Employees | B...,5.0,"Job Security, Work Life Balance, Work Satisfac...",NaN,83,9,--,--,--
4340,Matrimonialsindia,Internet | 1k-5k Employees | 27 years old | Ne...,5.0,"Promotions / Appraisal, Skill Development / Le...",NaN,171,114,--,4,24
1400,Lavender Technology,Bangalore / Bengaluru +4 more,5.0,"Company Culture, Promotions / Appraisal, Skill...",NaN,508,2,2,--,15
4916,Deejos Engineers & Contractors,Architecture & Interior Design | 16 years old ...,5.0,"Company Culture, Work Life Balance, Promotions...",NaN,151,28,1,1,2
1759,InternEzy,EdTech | 51-200 Employees | Erode +5 more,5.0,"Work Life Balance, Work Satisfaction, Skill De...",NaN,414,3,--,--,99